* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    line-height: 1.6;
    background-color: rgb(145, 145, 241);
    color: #333;
}
header {
    background-color: blue;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
header nav ul {
    list-style: none;
    margin-top: 10px;
}
header nav ul li {
    display: inline;
    margin: 0 15px;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
section {
    padding: 50px 20px;
    text-align: center;
}
section h2 {
    margin-bottom: 20px;
}
footer {
    background-color: blue;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}