*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
head {
     position: relative;
    width: 100%;
    height: 400px;
    background:blue;
    display: flex;
    align-items: center;
    justify-content: center;
}